/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
.ao-marq .ao-marq-item {
  width: 48%;
}
.content-items {
  
}
.content-holder {
  display: inline-block;
  width: 47%;
  vertical-align: top;
  border: 1px solid #CCC;
  margin-right: 1em;
  border-radius: .5em;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  overflow: hidden;
  background-color: #e1e1e1;
}
.content-holder H4 {
  background-color: #824391;
  padding: .5em;
  color: White;
}
.content-holder UL {
  margin: 1em;
}
