/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

#zone-branding-wrapper {
  background-color: #e1e1e1;
  padding: 0.5em 0em;
}
#zone-branding-wrapper #main-menu {
  padding-top: 0.5em;
}
#zone-branding-wrapper #main-menu LI {
  margin-top: 0.3em;
  padding-top: 0.5em;
  display: inline-block;
}
#zone-branding-wrapper #main-menu LI A {
  color: #824aa0;
  text-decoration: none;
  font-size: 1.1em;
}
#section-content {
  padding-top: 1.5em;
}
#region-page-bottom {
  background-color: Black;
  height: 500px;
}
#region-sidebar-second {
  padding-bottom: 1em;
}
#region-sidebar-second .block {
  background-color: #e9e9e9;
  padding: .5em;
}

/* fonts */
BODY {
  font-size: 100%;
}
P {
  line-height:160%
}
A {
  text-decoration: none;
}
.node {
  margin-bottom: 1em;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
}
h1 {
  font-size: 2em;
  margin-bottom: 1em;
}
h2 {
  font-size: 1.5em;
  margin-bottom: .8em;
}
h3 {
  font-size: 1.3em;
  margin-bottom: .6em;
}
h4 {
  font-size: 1.2em;
  margin-bottom: .6em;
}
h5 {
  font-size: 1.1em;
  margin-bottom: .6em;
}
h6 {
  font-size: 1em;
  margin-bottom: .6em;
}
.field {
  margin-bottom: .5em;
}
.field-label,
LABEL {
  margin-bottom: .5em;
}

/* fields */
.field-name-field-cmcp-cta {
  padding: .5em;
  border: 1px solid #CCC;
  background-color: #e9e9e9;
}
.field-type-addressfield {
}
.field-type-addressfield DIV.field-items {
  margin-bottom: 1em;
}
.field-type-addressfield DIV.field-items DIV {
  margin-bottom: 1em;
}


/* lists */
ul, ol {
  margin: 1em 0em;
}
ul LI, ol LI {
  margin-bottom: 1em;
}


/* forms */
.form-item {
}
.form-item INPUT {
}
form TABLE {
  width: 100%;
}
.form-item-commerce-amount-single {
}
.form-item-commerce-amount-single .field-prefix {
  display: inline-block;
}
.form-item-commerce-amount-single .form-text {
  display: inline-block;
  width: 48%;
}
.form-item .description {
  padding: 0.5em;
  font-size: 0.8em;
  font-style: italic;
  color: #777;
}
/* UI Consistency */
::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

input, button, select, textarea {
}

button, input[type="reset"], input[type="submit"], input[type="button"] {
}

button {
}

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"],
input[type="email"], input[type="month"], input[type="number"], input[type="password"], 
input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
  width: 96%;
  background-color: #f7f7f7;
  border: 1px solid #BBB;
}

/* Separate rule for Firefox. Cannot stack with WebKit's. */
input.placeholder_text, textarea.placeholder_text, input:-moz-placeholder, textarea:-moz-placeholder {
  color: #888;
}

::-webkit-input-placeholder {
  color: #888;
}

button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  background-color: White;
}

input[type="file"]:focus, input[type="file"]:active, input[type="radio"]:focus, input[type="radio"]:active, 
input[type="checkbox"]:focus, input[type="checkbox"]:active {
}

select[disabled], textarea[disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="datetime-local"][disabled], 
input[type="email"][disabled], input[type="month"][disabled], input[type="number"][disabled], input[type="password"][disabled],
input[type="search"][disabled], input[type="tel"][disabled], input[type="text"][disabled], input[type="time"][disabled],
input[type="url"][disabled], input[type="week"][disabled] {
}

button[disabled], input[disabled], select[disabled], select[disabled] option, select[disabled] optgroup, textarea[disabled] {
}

textarea, select[size], select[multiple] {
}


LABEL.compact-form-label {
  margin-top: .2em;
  color: #AAA;
}
