/**
 * @file
 * 
 * Controls the layout of the default content for AbleOrganizer
 */
/* init */
/* font sizes */
/* colors */
/* fonts */
/* partials */
/* layouts */
/* modules */
/* displays a feature listing as a bubble */
/* line 61, ../sass/ao_basic_setup.scss */
.features-bubble, .features-marquee .ao_profeat, .ao_profeat_holder .ao_profeat {
  display: inline-block;
  vertical-align: top;
  padding: 0em .5em;
  text-align: center;
}
/* line 67, ../sass/ao_basic_setup.scss */
.features-bubble H3, .features-marquee .ao_profeat H3, .ao_profeat_holder .ao_profeat H3 {
  color: #436ab3;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0.25em;
  margin-bottom: 0px;
  font-family: "Montserrat", Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 16px;
}
/* line 77, ../sass/ao_basic_setup.scss */
.features-bubble P, .features-marquee .ao_profeat P, .ao_profeat_holder .ao_profeat P {
  margin: .5em 0em;
  font-size: 13.28px;
}
/* line 82, ../sass/ao_basic_setup.scss */
.features-bubble .ao_profeat_icon_outer, .features-marquee .ao_profeat .ao_profeat_icon_outer, .ao_profeat_holder .ao_profeat .ao_profeat_icon_outer {
  height: 140px;
  width: 140px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: transparent;
  margin: 0em auto .25em;
  cursor: pointer;
  border: 1px solid White;
  position: relative;
  vertical-align: middle;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 96, ../sass/ao_basic_setup.scss */
.features-bubble .ao_profeat_icon_outer:hover, .features-marquee .ao_profeat .ao_profeat_icon_outer:hover, .ao_profeat_holder .ao_profeat .ao_profeat_icon_outer:hover {
  border: 1px solid #CCC;
}
/* line 101, ../sass/ao_basic_setup.scss */
.features-bubble .ao_profeat_icon, .features-marquee .ao_profeat .ao_profeat_icon, .ao_profeat_holder .ao_profeat .ao_profeat_icon {
  height: 110px;
  width: 110px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #c1c1d1;
  margin: 0em auto;
  cursor: pointer;
  position: absolute;
  left: 15px;
  top: 15px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 115, ../sass/ao_basic_setup.scss */
.features-bubble .ao_profeat_icon SPAN, .features-marquee .ao_profeat .ao_profeat_icon SPAN, .ao_profeat_holder .ao_profeat .ao_profeat_icon SPAN {
  background-image: url("../images/ao-frontend-icons.png");
  height: 60px;
  width: 60px;
  display: inline-block;
  margin: 24px auto 0px;
}
/* line 124, ../sass/ao_basic_setup.scss */
.features-bubble .ao_profeat_button, .features-marquee .ao_profeat .ao_profeat_button, .ao_profeat_holder .ao_profeat .ao_profeat_button {
  font-size: 16px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0B99C2', endColorstr='#FF064D61');
  background: -moz-linear-gradient(#0b99c2, #087392);
  background: -o-linear-gradient(#0b99c2, #087392);
  background: -webkit-linear-gradient(#0b99c2, #087392);
  background: linear-gradient(#0b99c2, #087392);
  -moz-box-shadow: #27c5f3 0 1px 0 inset;
  -webkit-box-shadow: #27c5f3 0 1px 0 inset;
  box-shadow: #27c5f3 0 1px 0 inset;
  border: 1px solid #07607a;
  color: white;
  text-shadow: #043645 0 -1px 0;
  margin-top: .5em;
  margin-left: auto;
  margin-right: auto;
}
/* line 15, ../../../../../../../../../Users/mhaggerty/.rvm/gems/ruby-2.1.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.features-bubble .ao_profeat_button:hover, .features-marquee .ao_profeat .ao_profeat_button:hover, .ao_profeat_holder .ao_profeat .ao_profeat_button:hover {
  text-decoration: none;
}
/* line 36, ../../../../../../../../../Users/mhaggerty/.rvm/gems/ruby-2.1.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.features-bubble .ao_profeat_button:hover, .features-marquee .ao_profeat .ao_profeat_button:hover, .ao_profeat_holder .ao_profeat .ao_profeat_button:hover {
  background-color: #07607a;
  background: -moz-linear-gradient(#0a86aa, #07607a);
  background: -o-linear-gradient(#0a86aa, #07607a);
  background: -webkit-linear-gradient(#0a86aa, #07607a);
  background: linear-gradient(#0a86aa, #07607a);
}
/* line 39, ../../../../../../../../../Users/mhaggerty/.rvm/gems/ruby-2.1.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.features-bubble .ao_profeat_button:active, .features-marquee .ao_profeat .ao_profeat_button:active, .ao_profeat_holder .ao_profeat .ao_profeat_button:active {
  -moz-box-shadow: #06546b 0 1px 2px inset;
  -webkit-box-shadow: #06546b 0 1px 2px inset;
  box-shadow: #06546b 0 1px 2px inset;
}
/* line 6, ../../../../../../../../../Users/mhaggerty/.rvm/gems/ruby-2.1.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.features-bubble .ao_profeat_button.disabled, .features-marquee .ao_profeat .ao_profeat_button.disabled, .ao_profeat_holder .ao_profeat .ao_profeat_button.disabled, .features-bubble .ao_profeat_button[disabled], .features-marquee .ao_profeat .ao_profeat_button[disabled], .ao_profeat_holder .ao_profeat .ao_profeat_button[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #087392;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../../../Users/mhaggerty/.rvm/gems/ruby-2.1.0/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.features-bubble .ao_profeat_button::-moz-focus-inner, .features-marquee .ao_profeat .ao_profeat_button::-moz-focus-inner, .ao_profeat_holder .ao_profeat .ao_profeat_button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/*displays the marquee for showing features */
/* line 135, ../sass/ao_basic_setup.scss */
.features-marquee, .ao_profeat_holder {
  width: 100%;
  margin: 0em;
  /* make the features listings into bubbles */
}
/* line 140, ../sass/ao_basic_setup.scss */
.features-marquee .ao_profeat, .ao_profeat_holder .ao_profeat {
  width: 23%;
}
/* line 146, ../sass/ao_basic_setup.scss */
.features-marquee .ao_profeat.ao_profeat_donation .ao_profeat_icon:hover, .ao_profeat_holder .ao_profeat.ao_profeat_donation .ao_profeat_icon:hover {
  background-color: #399B19;
}
/* line 149, ../sass/ao_basic_setup.scss */
.features-marquee .ao_profeat.ao_profeat_donation .ao_profeat_icon SPAN, .ao_profeat_holder .ao_profeat.ao_profeat_donation .ao_profeat_icon SPAN {
  background-position: -60px -120px;
}
/* line 155, ../sass/ao_basic_setup.scss */
.features-marquee .ao_profeat.ao_profeat_event .ao_profeat_icon:hover, .ao_profeat_holder .ao_profeat.ao_profeat_event .ao_profeat_icon:hover {
  background-color: #1A6099;
}
/* line 158, ../sass/ao_basic_setup.scss */
.features-marquee .ao_profeat.ao_profeat_event .ao_profeat_icon SPAN, .ao_profeat_holder .ao_profeat.ao_profeat_event .ao_profeat_icon SPAN {
  background-position: -120px -120px;
}
/* line 164, ../sass/ao_basic_setup.scss */
.features-marquee .ao_profeat.ao_profeat_petition .ao_profeat_icon:hover, .ao_profeat_holder .ao_profeat.ao_profeat_petition .ao_profeat_icon:hover {
  background-color: #e26427;
}
/* line 167, ../sass/ao_basic_setup.scss */
.features-marquee .ao_profeat.ao_profeat_petition .ao_profeat_icon SPAN, .ao_profeat_holder .ao_profeat.ao_profeat_petition .ao_profeat_icon SPAN {
  background-position: -180px -120px;
}
/* line 173, ../sass/ao_basic_setup.scss */
.features-marquee .ao_profeat.ao_profeat_volunteer .ao_profeat_icon:hover, .ao_profeat_holder .ao_profeat.ao_profeat_volunteer .ao_profeat_icon:hover {
  background-color: #D12424;
}
/* line 176, ../sass/ao_basic_setup.scss */
.features-marquee .ao_profeat.ao_profeat_volunteer .ao_profeat_icon SPAN, .ao_profeat_holder .ao_profeat.ao_profeat_volunteer .ao_profeat_icon SPAN {
  background-position: 0px -120px;
}
/* line 183, ../sass/ao_basic_setup.scss */
.features-marquee .ao_profeat_dialog_content, .ao_profeat_holder .ao_profeat_dialog_content {
  display: none;
}

/* line 190, ../sass/ao_basic_setup.scss */
.ao_profeat_dialog {
  color: #777;
  font-size: 0.9em;
}

/* line 194, ../sass/ao_basic_setup.scss */
.ao_profeat_dialog .ao_profeat_dialog_title {
  text-align: center;
  margin: 0em;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 48%, #436ab3 49%, #436ab3 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 48%, #436ab3 49%, #436ab3 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 48%, #436ab3 49%, #436ab3 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 48%, #436ab3 49%, #436ab3 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
  padding: .5em 0em;
  text-transform: uppercase;
  font-size: 1.3em;
}

/* line 207, ../sass/ao_basic_setup.scss */
.ao_profeat_dialog .ao_profeat_dialog_title .title_inner {
  display: inline-block;
}

/* line 210, ../sass/ao_basic_setup.scss */
.ao_profeat_dialog .ao_profeat_dialog_title .title_bg {
  background-color: White;
  display: inline-block;
  padding: 0em .5em;
}

/* line 215, ../sass/ao_basic_setup.scss */
.ao_profeat_dialog .ao_profeat_dialog_title .ao_profeat_dialog_icon {
  display: inline-block;
  margin: 0em 0em 0.5em 0em;
  background-color: #CCC;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  height: 50px;
  width: 50px;
  vertical-align: middle;
}

/* line 226, ../sass/ao_basic_setup.scss */
.ao_profeat_dialog .ao_profeat_dialog_title .ao_profeat_dialog_icon SPAN {
  background-image: url("../images/ao-frontend-icons.png");
  height: 30px;
  width: 30px;
  margin: 10px auto;
  display: block;
}

/* line 233, ../sass/ao_basic_setup.scss */
.ao_profeat_dialog .ao_profeat_dialog_fundraising .ao_profeat_dialog_icon {
  background-color: #399B19;
}

/* line 236, ../sass/ao_basic_setup.scss */
.ao_profeat_dialog .ao_profeat_dialog_events .ao_profeat_dialog_icon {
  background-color: #1A6099;
}

/* line 239, ../sass/ao_basic_setup.scss */
.ao_profeat_dialog .ao_profeat_dialog_petition .ao_profeat_dialog_icon {
  background-color: #e26427;
}

/* line 242, ../sass/ao_basic_setup.scss */
.ao_profeat_dialog .ao_profeat_dialog_volunteer .ao_profeat_dialog_icon {
  background-color: #D12424;
}

/* line 245, ../sass/ao_basic_setup.scss */
.ao_profeat_dialog .ao_profeat_dialog_fundraising .ao_profeat_dialog_icon SPAN {
  background-position: -31px 0px;
}

/* line 248, ../sass/ao_basic_setup.scss */
.ao_profeat_dialog .ao_profeat_dialog_events .ao_profeat_dialog_icon SPAN {
  background-position: -61px 0px;
}

/* line 251, ../sass/ao_basic_setup.scss */
.ao_profeat_dialog .ao_profeat_dialog_petition .ao_profeat_dialog_icon SPAN {
  background-position: -61px -30px;
}

/* line 254, ../sass/ao_basic_setup.scss */
.ao_profeat_dialog .ao_profeat_dialog_volunteer .ao_profeat_dialog_icon SPAN {
  background-position: 0px 0px;
}

/* line 257, ../sass/ao_basic_setup.scss */
.ao_profeat_dialog LI {
  margin: 0em 0em 1em;
}

/* theme */
/* line 266, ../sass/ao_basic_setup.scss */
section#above-content-one {
  height: 380px;
}

/* line 270, ../sass/ao_basic_setup.scss */
.ao-featlist {
  display: inline-block;
  width: 48%;
  margin-right: 1%;
  vertical-align: top;
}
/* line 275, ../sass/ao_basic_setup.scss */
.ao-featlist:last-child {
  margin-right: 0%;
}

/* panel titles for the home page */
/* line 287, ../sass/ao_basic_setup.scss */
BODY.front .page__title {
  display: none;
}

/* line 291, ../sass/ao_basic_setup.scss */
BODY.front section#above-content-two h2,
BODY.front section#main h2,
BODY.front section#below-content-one h2,
BODY.front section#below-content-two h2 {
  text-align: center;
  font-size: 2.25em;
  margin: 0em 0em 1em;
  font-weight: normal;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 48%, #436ab3 49%, #436ab3 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 48%, #436ab3 49%, #436ab3 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 48%, #436ab3 49%, #436ab3 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 48%, #436ab3 49%, #436ab3 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
  font-size: 32px;
  font-weight: 700;
}
/* line 303, ../sass/ao_basic_setup.scss */
BODY.front section#above-content-two h2 SPAN,
BODY.front section#main h2 SPAN,
BODY.front section#below-content-one h2 SPAN,
BODY.front section#below-content-two h2 SPAN {
  padding: 0em .5em;
}

/* apply colors to regions on the front page */
/* line 315, ../sass/ao_basic_setup.scss */
BODY.front .tabs-primary {
  display: none;
}
/* line 319, ../sass/ao_basic_setup.scss */
BODY.front .ao-down-arrow {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 36px solid transparent;
  border-right: 36px solid transparent;
  top: -3px;
  left: 50%;
  margin-left: -36px;
}
/* line 329, ../sass/ao_basic_setup.scss */
BODY.front .boxes-box-content,
BODY.front .block {
  border: 1px solid transparent;
}
/* line 334, ../sass/ao_basic_setup.scss */
BODY.front section#above-content-one {
  background: #ffb836 url(../images/people.png) top center no-repeat;
}
/* line 337, ../sass/ao_basic_setup.scss */
BODY.front section#above-content-two {
  background-color: #f9f9f9;
}
/* line 339, ../sass/ao_basic_setup.scss */
BODY.front section#above-content-two h2 {
  margin-top: 1em;
}
/* line 341, ../sass/ao_basic_setup.scss */
BODY.front section#above-content-two h2 SPAN {
  background-color: #f9f9f9;
}
/* line 345, ../sass/ao_basic_setup.scss */
BODY.front section#above-content-two .ao-down-arrow {
  border-top: 36px solid #f9f9f9;
}
/* line 349, ../sass/ao_basic_setup.scss */
BODY.front section#main {
  background-color: #00b0f3;
}
/* line 352, ../sass/ao_basic_setup.scss */
BODY.front section#main IMG {
  max-width: 100%;
  margin: 0em auto;
  width: 90%;
  display: block;
}
/* line 359, ../sass/ao_basic_setup.scss */
BODY.front section#main h2 {
  margin-top: 0em;
  color: white;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 48%, #ffffff 49%, #ffffff 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 48%, #ffffff 49%, #ffffff 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 48%, #ffffff 49%, #ffffff 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 48%, #ffffff 49%, #ffffff 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
}
/* line 363, ../sass/ao_basic_setup.scss */
BODY.front section#main h2 SPAN {
  background-color: #00b0f3;
}
/* line 367, ../sass/ao_basic_setup.scss */
BODY.front section#main .ao-down-arrow {
  border-top: 36px solid #f9f9f9;
}
/* line 371, ../sass/ao_basic_setup.scss */
BODY.front section#below-content-one {
  background-color: #ffcc4d;
}
/* line 373, ../sass/ao_basic_setup.scss */
BODY.front section#below-content-one h2 {
  margin-top: 1em;
}
/* line 375, ../sass/ao_basic_setup.scss */
BODY.front section#below-content-one h2 SPAN {
  background-color: #ffcc4d;
}
/* line 379, ../sass/ao_basic_setup.scss */
BODY.front section#below-content-one .ao-down-arrow {
  border-top: 36px solid #00b0f3;
}
/* line 383, ../sass/ao_basic_setup.scss */
BODY.front section#below-content-two {
  background-color: #c8effe;
}
/* line 385, ../sass/ao_basic_setup.scss */
BODY.front section#below-content-two h2 {
  margin-top: 1em;
}
/* line 387, ../sass/ao_basic_setup.scss */
BODY.front section#below-content-two h2 SPAN {
  background-color: #c8effe;
}
/* line 391, ../sass/ao_basic_setup.scss */
BODY.front section#below-content-two .ao-down-arrow {
  border-top: 36px solid #ffcc4d;
}
