/**
 * @file
 * Contact Management
 *
 * This is the base theme file for contact management in AbleOrganizer.
 */
 
/**
 * REGIONS / SECTIONS
 */ 
BODY > section {
  @include ao-horizontal-region (
    $ao-horiz-region-container-selector: '.section-wrapper',
    $ao-horiz-region-container-position: center,
    $ao-horiz-region-container-width: 100%,
    $ao-horiz-region-container-overflow: hidden
  );
  @include ao-transition();
  .section-wrapper {
    width: 100%;
    @include ao-transition();
  }
  @include breakpoint($breakpoint-zen-large){
    .section-wrapper {
      width: 960px;
    }
  }
  @include breakpoint($breakpoint-zen-larger){
    .section-wrapper {
      width: 1200px;
    }
  }
}
/* TOP BANNER */
section.banner {
  @include ao-region (
    $ao-region-background: $dark-blue,
    $ao-region-padding: .5em 0em
  );
  
  // @TODO: move this into a mixin
  font-size: $h6-font-size;
  A {
    color: #dfe4e6;
    text-decoration: none;
    &:hover {
      color: White;
    }
  }
}

/* BRANDING BANNER */
section.branding {
  @include ao-region (
    $ao-region-background: White,
    $ao-region-padding: rhythm(.5) 0em 0em
  );
  @include breakpoint($breakpoint-zen-large){
    @include ao-region (
      $ao-region-padding: rhythm(1) 0em 0em
    );
  }
}  
/* HEADER */
section.header {
  @include ao-region (
    $ao-region-background: $base-blue
  );
  @include breakpoint($breakpoint-zen-large){
    .section-wrapper {
      height: rhythm(3.5);
    }
  }
}
/* CONTENT */
section.content {
  @include ao-region (
    $ao-region-background: $f-gray,
    $ao-region-padding: rhythm(1) 0em
  );
}


/**
 * MENUS
 */
/* Main Menu */
nav#main-menu {
  position: absolute;
  right: 0px;
  bottom: 0px;
  UL.links {
    @include ao-menu-style ($stylename: ao-main-nav);
    LI, A {
      @include ao-transition();
    }
    A {
      @include ao-fontography(main-nav-contact-management);
      @include ao-transition ();
    }
  }
}

/**
 * DASHBOARD
 */
BODY.page-crm-core-dashboard {
  
  /* PANELS */
  /* PANEL TITLES */
  
  /* ACTIVITY LISTS */
  .crm-core-activity {
    @include ao-activity-item(
      $ao-activity-item-icon-size: 45px,
      $ao-activity-item-padding: rhythm(.6) 0em
    );
  }
  
  /* QUICK LINKS */
  
  /* SUMMARY TABLES */
  
  /* BREAKPOINTS */
  
}

/**
 * COMPONENTS
 */ 
/* PAGE TITLE */ 
section.header {
  H1#page-title {
    @include ao-fontography(header-font-contact-management);
    em {
      color: $base-blue0;
    }
  }
  @include breakpoint($breakpoint-zen-large){
    H1#page-title {
      position: absolute;
      left: 0px;
      margin: 0px;
      bottom: rhythm(.18);
    } 
  }
}


