/**
 * @file
 * Buttons
 *
 * Defines the basic appearance of elements in the theme.
 */

/* LAYOUT MODIFICATIONS */
section#main,
section#above-content-one, 
section#above-content-two, 
section#above-content-three, 
section#below-content-one, 
section#below-content-two, 
section#below-content-three {
  @extend .page-region;
  border: 1px solid transparent;
  .section-wrapper {
    border: 1px solid transparent;  
  }
}

/* HEADER / NAVIGATION */
/* controls the layout of the navigation */
section#main-navigation {
  font-size: $h3-font-size;
  font-weight: 400;
}
header#header {
  @extend .header-region;
}
section#main-navigation {
  @extend .navigation-region;
}

/* FRONTPAGE */
/* move to theme */
.hero_text {
  @extend .hero-element;
} 

/* FORMS */
/* applies styles to forms in the second sidebar */
.region-sidebar-second {
  FORM {
    @extend .form-sidebar-2-display;
  }
}


/* controls the display of the CRM Core menu in the header */
#block-menu-crm-core-menu {
  margin: 0em;
  position: absolute;
  bottom: -20px;
  right: 0em;
  
  H2.block-title {
    @include sassy-button("flat", .5em, $h4-font-size, $ao_blue, $ao_blue2, White, "Raised");
    @include sassy-button-structure(.5em, $h4-font-size, 0.25em 1em);
    font-weight: normal;
  }
  
  UL.menu {
    display: none;
  }
  
  &:hover {
  
    H2.block-title {
      @include border-radius(0.5em 0.5em 0em 0em);
    }
  
    UL.menu {
      display: block;
      position: absolute;
      top: 38px;
      right: 0px;
      background-color: $ao_blue;
      white-space: nowrap;
      margin: 0em;
      padding: 0em;
      min-width: 100%;
      z-index: 1000;
      @include border-radius(0em 0em 0.5em 0.5em);
      overflow: hidden;
      
      LI {
        list-style-type: none;
        list-style-image: none;
        margin: 0em;
        padding: .5em 1em;
        
        &:hover {
          background-color: #009ed9;
        }
        
        A {
          margin: 0em;
          padding: 0em;
          text-decoration: none;
          color: White;
        }
      }
    }
  }
}
.header__secondary-menu {
  
  .inline LI {
    margin: 0em;
    padding: 0em;
    A {
      @include sassy-button("flat", .5em, $h5-font-size, #f1f1f1, $ao_blue2, $gray-1, "Raised");
      @include sassy-button-structure(.5em, $h5-font-size, 0.25em 1em);
      text-decoration: none;
    }
  }
}

