

.ao-info-box {
  background-color: #f1f3f9;
  padding: 0em 1em 1em;
  margin: 1em 0em 0em 0em;
  box-sizing: border-box;
  @include box-shadow(0 0 0 1px rgba(0, 0, 0, .1), 0 1px 4px rgba(0, 0, 0, .2));
  @include border-radius(16px);
  @include text-shadow(White 2px 2px 0);
  overflow: hidden;
  color: $gray-1;
  
  H2.block__title {
    text-align: center;
  }
  
  .boxes-box-content {
    text-align: center;
    margin-top: -1em;
  
    UL {
      margin: 0em;
      padding: 0em;
      font-style: italic;

      LI {
        text-align: left;
        list-style-type: none;
        margin-bottom: 1em;
      }
    }
  }
}

/* move to theme */
#block-menu-crm-core-menu {
  margin: 0em;
  position: absolute;
  bottom: -20px;
  right: 0em;
  
  H2.block-title {
    @include sassy-button("flat", .5em, $h4-font-size, $ao_blue, $ao_blue2, White, "Raised");
    @include sassy-button-structure(.5em, $h4-font-size, 0.25em 1em);
    font-weight: normal;
  }
  
  UL.menu {
    display: none;
  }
  
  &:hover {
  
    H2.block-title {
      @include border-radius(0.5em 0.5em 0em 0em);
    }
  
    UL.menu {
      display: block;
      position: absolute;
      top: 38px;
      right: 0px;
      background-color: $ao_blue;
      white-space: nowrap;
      margin: 0em;
      padding: 0em;
      min-width: 100%;
      z-index: 1000;
      @include border-radius(0em 0em 0.5em 0.5em);
      overflow: hidden;
      
      LI {
        list-style-type: none;
        list-style-image: none;
        margin: 0em;
        padding: .5em 1em;
        
        &:hover {
          background-color: #009ed9;
        }
        
        A {
          margin: 0em;
          padding: 0em;
          text-decoration: none;
          color: White;
        }
      }
    }
  }
}

header.header .header__secondary-menu {
  
  .inline LI {
    margin: 0em;
    padding: 0em;
    A {
      @include sassy-button("flat", .5em, $h5-font-size, #f1f1f1, $ao_blue2, $gray-1, "Raised");
      @include sassy-button-structure(.5em, $h5-font-size, 0.25em 1em);
      text-decoration: none;
    }
  }
  
}
