/**
 * @file
 * Forms
 *
 * Defines the appearance of forms in the front end
 */

/* forms appearing in the main content region */
.ao-main-content-form {
  
  /* make descriptiosn fancy */
  .description {
    margin-bottom: 1em;
    font-style: italic;
  }
  
  /* keep textareas operating as a single unit */
  /* give them margins on the bottom of the container */
  .field-type-text-textarea,
  .field-type-text-with-summary {
    margin: 0.5em 0em;
  }
  
  .form-field-type-datestamp,
  .form-field-type-datetime {
  
    .date-float {
      display: block;
      float: none;
    }
  
    .container-inline-date {
      display: inline-block;
      vertical-align: top;
      width: auto;
      
      &.end-date-wrapper {
        LABEL {
          display: inline-block;
          vertical-align: top;
          margin-right: .5em;
        }
        > .form-item > LABEL:first-child {
          font-weight: 700;
        }
        
        
        .date-padding {
          display: inline-block;
          float: none;
        }
      }
      
    }
  }
  

  .form-item {
    margin: 0em 0em .5em;

    /* remove some of the funk around textareas */
    &.form-type-textarea {
      margin: 0em;
    }
    
    /* make name fields more paletable */
    &.form-type-name-element {
      .name-credentials-wrapper {
        width: 10%;
      }
      div[class*='name-'] {
        margin-right: .3em;
        display: inline-block;
        vertical-align: top;
    
        INPUT[type=text] {
          width: 100%;
        }
        &:last-child {
          margin-right: 0em;
        }
      }
    }
  }
  .container-inline-date {
    .date-padding {
      padding: 0em;
    }
  }

  .fieldset-legend,
  LABEL,
  LABEL.compact-form-label {
    color: $gray-2;
    font-weight: normal;
    margin-bottom: .3em;
  }
  fieldset {
    padding: 0em;
    margin: 0em;
    border: 0px;
  }
  INPUT[type=text] {
    width: 95%;
    display: inline-block;
  }
  
  .form-required {
    display: inline-block;
  }
  SELECT {
    width: 100%;
  }
  
  /* things to hide by default */
  .text-format-wrapper div.description {
    display: none;
  }
  
  
  
  /* phone numbers */
  .form-phone-number > DIV {
    input[type=text]{
      width: auto;
    }
    &:first-child {
      width: 65%;
    }
    &:last-child {
      width: 25%;
    }
  }
 
 /* address fields */
 .field-type-addressfield {
  .fieldset-wrapper {
    .addressfield-container-inline {
      DIV[class*="locality"] {
        width: 40%;
        display: inline-block;
        vertical-align: top;
        margin-right: 0em;
      }
      DIV[class*="administrative-area"] {
        width: 20%;
        display: inline-block;
        vertical-align: top;
        margin-right: 0.5em;
      }
      DIV[class*="postal-code"] {
        width: 30%;
        display: inline-block;
        vertical-align: top;
        margin-right: 0.25em;
      }
    }
  }
 }
 
  /* shopping carts */
  /* item display */
  caption, div.caption {
    display: none;
  }
  #edit-cart-wrapper {
    margin-bottom: 0.5em;
  }
  TABLE {
    margin-bottom: 0em;
    width: 100%;
    TH {
      white-space: nowrap;
    }
    DIV[class*="form-item-cart"] {
      width: 2em;
      margin: 0em auto;
      padding: 0em;
    }
    DIV[id*="-total"] {
      text-align: center;
    }
  }

  /* cart summary */
  .cart-summary {
    .cart-summary-total {
      text-align: center;
      .cart-summary-total-value {
        font-weight: 700;
      }
    }
  }
  /* amounts */
  .amounts {
    margin-bottom: 0.5em;
  }

}

/* node forms */
.ao-node-form {
  border: 1px solid #CCC;
  padding: 1em;
  margin-bottom: 1em;
  
  .cke {
    .cke_inner {
      .cke_wysiwyg_frame {
        padding: 0em .5em;
        box-sizing: border-box;
      }
    }
  }
  
  .wysiwyg-toggle-wrapper {
    padding: 0em;
    background-color: #BaC5D1;
    text-align: center;
    font-weight: 700;
    A {
      color: White;
      background-color: #9aA5B1;
      padding: .3em .6em;
      cursor: pointer;
    }
  }
  
  .vertical-tabs {
    .vertical-tabs-panes {
      FIELDSET.vertical-tabs-pane {
        padding: 1em !important;
      }
    }
  }
}

/* forms appearing in the right hand region */
.ao-sidebar-2-form {
  .form-item {
    margin: 0em 0em .5em;
    
  }
  LABEL,
  LABEL.compact-form-label {
    color: #777;
  }
  fieldset {
    padding: 0em;
    margin: 0em;
    border: 0px;
  }
  INPUT[type=text] {
    width: 90%;
    display: inline-block;
  }
  .form-required {
    display: inline-block;
  }
  SELECT {
    width: 100%;
  }
  
  /* phone numbers */
  .form-phone-number > DIV {
    input[type=text]{
      width: auto;
    }
    &:first-child {
      width: 65%;
    }
    &:last-child {
      width: 25%;
    }
  }
 
 /* address fields */
 .field-type-addressfield {
  .fieldset-wrapper {
    .addressfield-container-inline {
      DIV[class*="locality"] {
        width: 40%;
        display: inline-block;
        vertical-align: top;
        margin-right: 0em;
      }
      DIV[class*="administrative-area"] {
        width: 20%;
        display: inline-block;
        vertical-align: top;
        margin-right: 0.5em;
        
        LABEL {
          display: none;
        }
      }
      DIV[class*="postal-code"] {
        width: 30%;
        display: inline-block;
        vertical-align: top;
        margin-right: 0.25em;
      }
    }
  }
 }
 
  /* shopping carts */
  /* item display */
  caption, div.caption {
    display: none;
  }
  #edit-cart-wrapper {
    margin-bottom: 0.5em;
  }
  TABLE {
    margin-bottom: 0em;
    width: 100%;
    TH {
      white-space: nowrap;
    }
    DIV[class*="form-item-cart"] {
      width: 2em;
      margin: 0em auto;
      padding: 0em;
    }
    DIV[id*="-total"] {
      text-align: center;
    }
  }

  /* cart summary */
  .cart-summary {
    .cart-summary-total {
      text-align: center;
      .cart-summary-total-value {
        font-weight: 700;
      }
    }
  }
  /* amounts */
  .amounts {
    margin-bottom: 0.5em;
  }

}
/* input formats */
/* TODO: make this a mix-in */
.ao-filter-wrapper {
  background-color: #F5F1E9;
  margin-bottom: 1em;
  @include border-radius(0em 0em 1em 1em);
  .form-item {
    margin: 0em;
    LABEL {
      display: block;
      font-size: $h5-font-size;
    }
  }
  .filter-help {
    padding-top: 0.5em;
    font-size: $h5-font-size;
  }
  .ao-input-format-select {
    margin-right: .3em;
    @include sassy-button("flat", .5em, $h5-font-size, #9aA5B1, $ao_blue2, White, "Raised");
  }
  .form-type-select SELECT {
    display: none;
  }
  .filter-guidelines {
    display: none;
  }
}

.aoCallout,
.aoFormatBubble {
  width: 240px;
  font-size: $h6-font-size;
  line-height: $h6-font-size*1.5;
  @include border-radius(8px);
  color: White;
  background-color: $ao_blue;
  padding: 0.5em 0.8em;
  position: absolute;
  display: block;
  
  H3 {
    display: block;
    text-align: center;
    margin: 0em;
  }
  
  UL {
    margin: 0em;
    padding: 0em;
    LI {
      list-style-type: none;
    }
  }
  
  &:after {
    position: absolute;
    display: block;
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;    
    border-top-color: $ao_blue;
    border-width: 15px;
    margin-left: -15px;    
  }
  
}

/* controls the appearance of help overlays */
.ao-field-help {
  font-size: $h6-font-size;
  line-height: $h6-font-size;
  font-weight: 700;
  background-color: #BaC5D1;
  padding: .5em;
  display: inline-block;
  vertial-align: bottom;
  @include border-radius(50%);
  color: White;
  cursor: pointer;
  margin-top: -1em;
  margin-left: .5em;
  .ao-show-help {
    display: none;
  }
}


/* move to theme */

FORM.node-form {
  @extend .ao-node-form;
}

FIELDSET.filter-wrapper {
  @extend .ao-filter-wrapper;
}

