/**
 * @file
 * Buttons
 *
 * Defines the appearance of hero elements used within the theme
 */
.hero-element {
  width: 60%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  color: white;
  padding: 1em;
  background-color: rgba(135,105,40,.3);
  @include text-shadow(1px 1px 3px rgba(0,0,0,.5));
  @include border-radius(1em);
} 
 
.hero_text {
  @extend .hero-element;
} 

