/**
 * @file
 * Buttons
 *
 * Defines the appearance of regions used to display content
 */
 
/* controls the appearance of a single region within the template */ 
.page-region {
  border-bottom: 1px solid #CCC;
  .section-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

/* controls the appearance of navigation elements in the page */
.header-region {
  padding: 2em 0em;
  border-bottom: 1px solid #CCC;
}

/* controls the appearance of navigation elements in the page */
.navigation-region {
  padding: 1em 0em;
  border-bottom: 1px solid #CCC;
}

.navigation-region {

}


/* TODO: move to theme */
header#header {
  @extend .header-region;
}

section#main-navigation {
  @extend .navigation-region;
}

section#main,
section#above-content-one, 
section#above-content-two, 
section#above-content-three, 
section#below-content-one, 
section#below-content-two, 
section#below-content-three {
  @extend .page-region;
  border: 1px solid transparent;
}

/* apply only for the front page */
BODY.front {
  section#above-content-one {
    background-color: $ao_orange;
  }
  section#main {
    background-color: $ao_blue;
  }
  section#below-content-one {
    background-color: $ao_orange2;
  }
  section#below-content-two {
    background-color: $ao_aqua;
  }
}

.ao-featlist {
  display: inline-block;
  width: 48%;
  margin-right: 1%;
  vertical-align: top;
  &:last-child {
    margin-right: 0%;
  }
}



